


$global-font-size: 1rem;
$global-width: rem-calc(960);
$global-lineheight: 1.5;
$black: #222222;
$medium-black: #010101;
$gray: #898989;
$white: #ffffff;
$background: #ffdc00;
$font-family: 'Source Sans Pro', sans-serif;
$global-magin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$display: flex;
$column: column;
$row: row;
$text-align: center;


